body {
  padding-top: 56px;
}

header{
  background-color: #F68C5F;
}

.headerAcheter{
  height: 150px;
}

.titreAcheter{
  margin-top: -55px;
}

.btn{
  background-color: #343A40;
  border: none;
}

.btn:hover{
  background-color: #43486A;
}

.btnRecherche{
  width: 100%;
}

/* test */
